//fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300&display=swap");

//colors
$amarillo: #fbf47d;
$amarilloClaro: #fffbb0;
$rosa: #ff91ff;
$rosaClaro: #ffcfe6;
$verde: #a8f69c;
$verdeClaro: #d6f8cf;
$celeste: #86d7f5;
$celesteClaro: #cfeef8;
$naranja: #ffbb6c;
$naranjaClaro: #ffe3c1;
$negro: #18191f;

body {
  font-family: "Roboto Condensed", sans-serif;
}
.index-body {
  overflow: hidden;
}
/*---------------HEADER------------------*/
header {
  margin-top: -1.25rem;
}
.textoLogo {
  font-size: 0.8rem;
  transform: translate(0%, -150%);
}
.navbar-text {
  color: $celeste !important;
}

.transition {
  transition: 0.5s;
}

.materias-link:hover {
  color: $rosa !important;
  font-weight: bold;
}
.cursos-link:hover {
  color: $naranja !important;
  font-weight: bold;
}
.recursos-link:hover {
  color: $celeste !important;
  font-weight: bold;
}

.contacto-link:hover {
  color: $verde !important;
  font-weight: bold;
}

.nosotros-link:hover {
  color: $amarillo !important;
  font-weight: bold;
}

#insta-header {
  width: 32px;
  height: 32px;
  transition: 0.5s;
  background-image: url("../assets/img/insta_a.svg");
}
#insta-header:hover {
  background-image: url("../assets/img/instagram.svg");
}

#face-header {
  width: 32px;
  height: 32px;
  transition: 0.5s;
  background-image: url("../assets/img/facebook_a.svg");
}
#face-header:hover {
  background-image: url("../assets/img/facebook.svg");
}

#mail-header {
  width: 32px;
  height: 32px;
  transition: 0.5s;
  background-image: url("../assets/img/mail_a.svg");
}
#mail-header:hover {
  background-image: url("../assets/img/mail.svg");
}

/*---------------END HEADER------------------*/
/*--------------------------------MAIN---------------------------------*/

.fondoPapel {
  background-image: url("../assets/img/hoja_papel_612x612.png");
  width: 100%;
  height: auto;
}

.whatsapp {
  position: fixed;
  left: 85%;
  right: 5.93%;
  top: 84.87%;
  bottom: 5.92%;
  z-index: 5;
}

/*----------MODAL----------------*/
.modal {
  display: block;
  background-color: rgba($color: $negro, $alpha: 0.7);
}

#papel-amarillo {
  position: relative;
  background-color: $amarillo;
  width: 10rem;
  height: 2.8rem;
  transform: rotate(33deg);
  top: 3em;
  left: 34em;
  z-index: 2;
  opacity: 0.75;
}

#botones-papel {
  font-family: "Inter", sans-serif;
  position: relative;
  top: 1em;
  a {
    cursor: pointer;
  }
}

#btn-papel-iz {
  background-color: $celesteClaro;
  width: 12rem;
  height: 6.5rem;
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  span {
    font-size: 1.4rem;
    font-weight: bold;
    position: relative;
    top: 1.5em;
    left: 1em;
  }
}

#btn-papel-de {
  background-color: $celesteClaro;
  width: 12rem;
  height: 6.5rem;
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  span {
    font-size: 1.4rem;
    font-weight: bold;
    position: relative;
    top: 1.5em;
    left: 2em;
  }
}

#btn-papel-iz:hover,
#btn-papel-de:hover {
  transform: scale(1.1);
  font-weight: bold;
}

.modal-content {
  background-image: url("../assets/img/hoja_papel_612x612.png");
  background-size: cover;
}
/*----------END MODAL----------------*/

/*-----------STICKYS--------------*/
#stickys {
  margin-top: -75px;
  margin-left: 150px !important;
}

#stickyYellow {
  position: relative;
  left: 2em;
  top: 8em;
  width: 14rem;
  height: 14rem;
  background-color: $amarilloClaro;
  transform: rotate(10deg);
  z-index: 2;
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.2);
  img {
    width: 100%;
    height: auto;
    position: relative;
  }
  span {
    font-size: 0.8rem;
    font-weight: 500;
    position: relative;
    bottom: 4em;
    left: 4.1em;
  }
  transition: 0.5s;
}
#stickyYellow:hover {
  top: 7em;
}
#stickyOrange {
  position: relative;
  left: 5em;
  top: 2em;
  width: 11rem;
  height: 11rem;
  background-color: $naranjaClaro;
  transform: rotate(-25deg);
  z-index: 0;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
  span {
    position: relative;
    top: 7.5em;
    left: 1em;
    font-size: 1.2rem;
  }
  transition: 0.5s;
}
#stickyOrange:hover {
  top: 3.5em;
  transform: rotate(-15deg);
}

#stickyPink {
  position: absolute;
  width: 11rem;
  height: 11rem;
  background-color: $rosaClaro;
  transform: rotate(-5deg);
  z-index: 1;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
  span {
    position: relative;
    top: 7.5em;
    left: 1em;
    font-size: 1.2rem;
  }
  transition: 0.5s;
}
#stickyPink:hover {
  transform: scale(1.1);
}

/*-----------END STICKYS--------------*/

/*-------------TESTIMONIOS----------------*/
.testimonios {
  background-color: $rosaClaro;
  h2 {
    font-family: "Inter", sans-serif;
  }
  .comillas {
    width: 14%;
    height: auto;
  }
}

.quoteText {
  font-size: 0.8rem;
  text-align: center;
  z-index: 5;
}

.student {
  font-family: "Inter", sans-serif;
  background-color: $amarilloClaro;
  color: #474a57;
  text-align: center;
  font-size: 0.8rem;
}

.rectangule {
  background-color: white;
  width: 30rem;
  height: 19rem;
  border-radius: 12px;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.triangule {
  position: relative;
  left: 14em;
  top: -0.5em;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid white;
  z-index: 0;
}
.carousel-control-next-icon {
  background-image: url("../assets/img/flechaDerecha.svg");
  transform: scale(1.5);
}
.carousel-control-prev-icon {
  background-image: url("../assets/img/flechaIzquierda.svg");
  transform: scale(1.5);
}
.carousel-control-next {
  transform: translate(75%, 0%);
}
.carousel-control-prev {
  transform: translate(-75%, 0%);
}
/*-------------END TESTIMONIOS----------------*/

/*-------------CONTACTO------------------------*/

.rect-rosa {
  background-color: $rosaClaro;
}
.rect-verde {
  background-color: $verdeClaro;
}
.rect-celeste {
  background-color: $celesteClaro;
}
.rect-naranja {
  background-color: $naranjaClaro;
}
/*---------------FORM-------------*/
.btn-rosa {
  background-color: $rosa;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
}
/*---------------END FORM-------------*/

/*-------------END CONTACTO------------------------*/

/*-------------SOBRE NOSOTROS----------------------*/
.nosotros {
  p {
    font-family: "Roboto", sans-serif;
  }
  h3 {
    text-decoration: underline;
    text-decoration-color: $amarillo;
    text-decoration-thickness: 5px;
  }
}
.resaltado-celeste {
  background-color: $celesteClaro;
  width: fit-content;
}
.resaltado-verde {
  background-color: $verdeClaro;
  width: fit-content;
}
.resaltado-rosa {
  background-color: $rosaClaro;
  width: fit-content;
}
/*-------------END SOBRE NOSOTROS----------------------*/

/*---------------RECURSOS-----------------------*/
#render-recursos {
  a {
    text-decoration: none;
    color: $negro;
  }
  a:hover {
    h5 {
      font-weight: bold;
    }
  }
}
#papel-recursos {
  position: relative;
  background-color: #86d7f578;
  width: 16rem;
  height: 5rem;
  left: -7rem;
  top: -5rem;
  span {
    position: relative;
    justify-content: center;
    font-weight: 700;
    font-size: 1.5rem;
    color: $negro;
    left: 3rem;
    top: 1rem;
  }
}

/*---------------END RECURSOS-----------------------*/

/*--------------------------------END MAIN---------------------------------*/

footer {
  font-family: "Inter", sans-serif;
  background-color: $negro;
  .powered {
    font-size: 0.8rem;
  }
}

/*////////////////////////////////////////////////////////////////////////////////*/
/*--------------------------------MEDIA QUERYS---------------------------------*/
/*////////////////////////////////////////////////////////////////////////////////*/

@media only screen and (min-width: 360px) and (max-width: 992px) {
  /*----------------HEADER------------------*/
  .fs-header {
    font-size: 0.9rem;
  }

  /*--------------END HEADER------------------*/
  /*-----------MAIN------------------*/

  .whatsapp {
    left: 75%;
  }

  /*----------MODAL----------------*/

  #papel-amarillo {
    position: relative;
    background-color: $amarillo;
    width: 10rem;
    height: 2.8rem;
    transform: rotate(33deg);
    top: 3em;
    left: 15em;
    z-index: 2;
    opacity: 0.75;
  }

  #botones-papel {
    font-family: "Inter", sans-serif;
    position: relative;
    top: 0.5em;
    a {
      cursor: pointer;
    }
  }

  #btn-papel-iz {
    background-color: $celesteClaro;
    width: 10rem;
    height: 4rem;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    span {
      font-size: 1.25rem;
      font-weight: bold;
      position: relative;
      top: 0.75em;
      left: 1em;
    }
  }

  #btn-papel-de {
    background-color: $celesteClaro;
    width: 10rem;
    height: 4rem;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    span {
      font-size: 1.25rem;
      font-weight: bold;
      position: relative;
      top: 0.75em;
      left: 1.8em;
    }
  }

  /*----------END MODAL----------------*/

  /*-----------STICKYS--------------*/
  #stickys {
    margin-top: -100px;
    margin-left: 0px !important;
  }

  /*-----------END STICKYS--------------*/

  /*---------------RECURSOS-----------------------*/

  #papel-recursos {
    position: relative;
    background-color: #86d7f578;
    width: 10rem;
    height: 5rem;
    left: -6.5rem;
    top: 1.5rem;
    span {
      position: relative;
      justify-content: center;
      font-weight: 700;
      font-size: 1.5rem;
      color: $negro;
      left: 3rem;
      top: 1rem;
    }
  }

  /*---------------END RECURSOS-----------------------*/

  /*-----------END MAIN------------------*/
  /*////////////////////////////////////////////////////////////////////////////////*/
  /*--------------------------------END MEDIA QUERYS---------------------------------*/
  /*////////////////////////////////////////////////////////////////////////////////*/
}
