//fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Roboto+Condensed:wght@400;700&display=swap");

//colors
$amarillo: #fbf47d;
$amarilloClaro: #fffbb0;
$rosa: #ff91ff;
$rosaClaro: #ffcfe6;
$verde: #a8f69c;
$verdeClaro: #d6f8cf;
$celeste: #86d7f5;
$celesteClaro: #cfeef8;
$naranja: #ffbb6c;
$naranjaClaro: #ffe3c1;
$negro: #18191f;

body {
  font-family: "Roboto Condensed", sans-serif;
}

/*---------------HEADER------------------*/
header {
  margin-top: -1.25rem;
}
.textoLogo {
  font-size: 0.8rem;
  transform: translate(0%, -150%);
}
.navbar-text {
  color: $celeste !important;
}

.transition {
  transition: 0.5s;
}
.materias-link:hover {
  color: $rosa !important;
}
.cursos-link:hover {
  color: $naranja !important;
}
.recursos-link:hover {
  color: $celeste !important;
}

.contacto-link:hover {
  color: $verde !important;
}
/*---------------END HEADER------------------*/
/*--------------------------------MAIN---------------------------------*/

.fondoPapel {
  background-image: url("../assets/img/hoja_papel_612x612.png");
  width: 100%;
  height: auto;
}

/*----------MODAL----------------*/
.modal {
  display: block;
  background-color: rgba($color: $negro, $alpha: 0.7);
}

#papel-amarillo {
  position: relative;
  background-color: $amarillo;
  width: 10rem;
  height: 2.8rem;
  transform: rotate(33deg);
  top: 3em;
  left: 24em;
  z-index: 2;
  opacity: 0.75;
}

#botones-papel {
  font-family: "Inter", sans-serif;
  position: relative;
  top: 1em;
  a {
    cursor: pointer;
  }
}

#btn-papel-iz {
  background-color: $celeste;
  width: 10rem;
  height: 6rem;
  transform: rotate(-5deg);
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  span {
    font-weight: bold;
    position: relative;
    top: 2em;
    left: 2em;
  }
}

#btn-papel-de {
  background-color: $celeste;
  width: 10rem;
  height: 6rem;
  transform: rotate(5deg);
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  span {
    font-weight: bold;
    position: relative;
    top: 2em;
    left: 2.6em;
  }
}

#btn-papel-iz:hover,
#btn-papel-de:hover {
  transform: scale(1.1);
  font-weight: bold;
}

.modal-content {
  background-image: url("../assets/img/hoja_papel_612x612.png");
}
/*----------END MODAL----------------*/

/*-----------STICKYS--------------*/
#stickys {
  margin-top: -75px;
  margin-left: 150px !important;
}

#stickyYellow {
  position: relative;
  left: 2em;
  top: 8em;
  width: 14rem;
  height: 14rem;
  background-color: $amarillo;
  transform: rotate(10deg);
  z-index: 2;
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.2);
  img {
    width: 100%;
    height: auto;
    position: relative;
  }
  span {
    font-size: 0.8rem;
    font-weight: 500;
    position: relative;
    bottom: 4em;
    left: 4.1em;
  }
  transition: 0.5s;
}
#stickyYellow:hover {
  top: 7em;
}
#stickyOrange {
  position: relative;
  left: 5em;
  top: 2em;
  width: 11rem;
  height: 11rem;
  background-color: $naranja;
  transform: rotate(-25deg);
  z-index: 0;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
  span {
    position: relative;
    top: 7.5em;
    left: 1em;
    font-size: 1.2rem;
  }
  transition: 0.5s;
}
#stickyOrange:hover {
  top: 3.5em;
  transform: rotate(-15deg);
}

#stickyPink {
  position: absolute;
  width: 11rem;
  height: 11rem;
  background-color: $rosaClaro;
  transform: rotate(-5deg);
  z-index: 1;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
  span {
    position: relative;
    top: 7.5em;
    left: 1em;
    font-size: 1.2rem;
  }
  transition: 0.5s;
}
#stickyPink:hover {
  transform: scale(1.1);
}

/*-----------END STICKYS--------------*/

/*-------------TESTIMONIOS----------------*/
.testimonios {
  background-color: $rosaClaro;
  h2 {
    font-family: "Inter", sans-serif;
  }
  .comillas {
    width: 14%;
    height: auto;
  }
}

.quoteText {
  font-size: 0.8rem;
  text-align: center;
  z-index: 5;
}

.student {
  font-family: "Inter", sans-serif;
  background-color: $amarilloClaro;
  color: #474a57;
  text-align: center;
  font-size: 0.8rem;
}

.rectangule {
  background-color: white;
  width: 30rem;
  height: 10rem;
  border-radius: 12px;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.triangule {
  position: relative;
  left: 14em;
  top: -0.5em;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid white;
  z-index: 0;
}
.carousel-control-next-icon {
  background-image: url("../assets/img/flechaDerecha.svg");
  transform: scale(1.5);
}
.carousel-control-prev-icon {
  background-image: url("../assets/img/flechaIzquierda.svg");
  transform: scale(1.5);
}
.carousel-control-next {
  transform: translate(75%, 0%);
}
.carousel-control-prev {
  transform: translate(-75%, 0%);
}
/*-------------END TESTIMONIOS----------------*/

/*-------------CONTACTO------------------------*/
#contactoRosa {
  background-color: $rosa;
  margin: 1rem;
  width: 15rem;
  height: 17rem;
  box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.2);
}
#contactoAmarillo {
  background-color: $amarillo;
  margin: 1rem;
  width: 15rem;
  height: 17rem;
  box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.2);
}

#contactoCeleste {
  background-color: $celeste;
  margin: 1rem;
  width: 15rem;
  height: 17rem;
  box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.2);
}

#contactoVerde {
  background-color: $verde;
  margin: 1rem;
  width: 15rem;
  height: 17rem;
  box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.2);
}
/*---------------FORM-------------*/
.btn-rosa {
  background-color: $rosa;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
}
/*---------------END FORM-------------*/

/*-------------END CONTACTO------------------------*/
/*--------------------------------END MAIN---------------------------------*/

footer {
  font-family: "Inter", sans-serif;
  background-color: $negro;
  .powered {
    font-size: 0.8rem;
  }
}
